.theme-drawer {
    .theme-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 25px 0;

        span {
            font-size: 14px;
        }

        .ant-switch {
            width: 46px;
        }
    }

    .divider {
        margin: 0 0 22px !important;
        font-size: 15px !important;

        .ant-icon {
            margin-right: 10px;
        }
    }

    .ant-divider-with-text::before,
    .ant-divider-with-text::after {
        border-top: 1px solid #dcdfe6 !important;

    }
}