.register {
	&-container {
		@apply bg-gray-100 bg-cover bg-center;
		background-image: url("@/assets/images/login_bg.svg");
	}

	&-form-container {
		@apply bg-white p-8 shadow-lg rounded-lg;

		.ant-form-item {
			height: 70px;
			margin-bottom: 0;

			.ant-input-prefix {
				margin-right: 10px;
			}

			.ant-input-affix-wrapper-lg {
				padding: 8.3px 11px;
			}

			.ant-input-affix-wrapper,
			.ant-input-lg {
				font-size: 14px;
			}

			.ant-input-affix-wrapper {
				color: #bfbfbf;
			}
		}
	}

	&-title {
		@apply text-center text-2xl font-bold mb-8;
	}
}
