// Base Styles
%scrollbar {
	&::-webkit-scrollbar {
		width: 0;
	}

	&::-webkit-scrollbar-thumb {
		width: 0;
	}
}

// Container
.container {
	height: 100%;
	padding: 16px;
	border-radius: 20px;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 16px;
		padding: 16px;
		border-radius: 20px;
		background-color: #f6f6f6;
	}

	.content {
		flex: 1;
		overflow-y: auto;
		@extend %scrollbar;
	}
}
