.container {
    position: relative;
    height: 100%;
    padding-right: 10px;

    .upload-l {
        height: inherit;
        overflow-y: scroll;
        background-color: $light-bg-color;
        border-radius: 20px;

        &::-webkit-scrollbar {
            width: 0;
        }

        .dragger {
            padding: 20px;
            position: sticky;
            position: -webkit-sticky;
            top: 0;
            z-index: 10;
            background-color: $light-bg-color;
        }

        .list {
            padding: 20px;
        }

        .empty {
            margin-top: 20px;
            padding: 20px;
            border-radius: 20px;
            transition: all 0.3s;
        }
    }

    .upload-r {
        height: inherit;
        left: 10px;
        background-color: $light-bg-color;
        border-radius: 20px;

        .file-card {
            border: 0;
            border-radius: 20px;
        }
    }
}