// Base Styles
%scrollbar {
	&::-webkit-scrollbar {
		width: 0;
	}

	&::-webkit-scrollbar-thumb {
		width: 0;
	}
}

// Container
.container {
	height: 100%;

	.content {
		height: 100%;

		&__left {
			border-top-left-radius: 20px;
			border-bottom-left-radius: 20px;
		}

		&__right {
			border-top-right-radius: 20px;
			border-bottom-right-radius: 20px;
		}

		&__left,
		&__right {
			height: 100%;
			background-color: #ffffff;
			display: flex;
			flex-direction: column;

			.header {
				padding: 20px;
				min-height: 64px;
				background-color: #ffffff;
				border-bottom: 1px solid #e4e7ed;
			}

			.main {
				flex: 1;
				overflow-y: scroll;
				@extend %scrollbar;
			}
		}
	}
}
