/* 需要自定义覆盖的样式 */
body {
    background-color: $dark-main-bg-color !important;

    // guide
    #driver-highlighted-element-stage {
        background-color: #525457 !important;
    }
}

/* container */
.container {
    height: 100vh;
    width: 100vw;

    /* sider */
    .ant-layout-sider {
        border-right: 1px solid $dark-border-color !important;

        .ant-menu {
            &::-webkit-scrollbar {
                background-color: $dark-bg-color !important;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $dark-scrollbar-bg-color !important;
            }
        }

        .logo-box {
            border-bottom: 1px solid $dark-border-color !important;
        }
    }

    /* layout */
    .ant-layout {
        background-color: $dark-main-bg-color !important;

        .ant-layout-header,
        .tabs,
        .footer,
        .card {
            background-color: $dark-bg-color !important;
            border-color: $dark-border-color !important;

            .text {
                color: $dark-text-color !important;
            }
        }

        .ant-layout-header {
            height: 55px;
            padding: 0 40px 0 20px;

            .icon-style,
            .username {
                color: $dark-text-color !important;
            }
        }

        .footer {
            a {
                color: $dark-text-color !important;
            }
        }

        .ant-layout-content {
            &::-webkit-scrollbar {
                background-color: $dark-main-bg-color !important;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $dark-scrollbar-bg-color !important;
            }

            .card {
                &::-webkit-scrollbar {
                    background-color: $dark-bg-color !important;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: $dark-scrollbar-bg-color !important;
                }
            }
        }
    }
}